.contact {
    display: flex;
    align-items: center;
    grid-template-columns: repeat(2, ifr);
    gap: 3rem;
    padding-left: 30px;
    margin-top: 100px;
    margin-bottom: 50px;

}

.contact-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.contact-text p {
    text-align: left;
    margin-bottom: 2rem;
    line-height: 30px;
    font-size: 20px;
    color: rgb(177, 177, 177);
}

.contact-text h2 span {
    color: rgb(0, 140, 255);
}

.contact-text h3 {
    margin-top: 30px;

    color: white;
    font-weight: bold;
    text-align: left;

}

.contact-form form {
    position: relative;
}

.contact-form input,
.contact-form textarea {
    position: relative;
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: rgb(248, 245, 245);
    color: rgb(132, 130, 130);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.submit {
    display: inline-block;
    background: rgb(33, 72, 190);
    padding: 1px 20px;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    animation: slideUp 1s ease forwards;
    width: 480px;
    border: none;
}

.submit:hover {
    box-shadow: 0 0 5px rgb(10, 73, 245),
        0 0 25px rgb(10, 73, 245),
        0 0 50px rgb(10, 73, 245),
        0 0 100px rgb(10, 73, 245);
}

.contact-text {
    margin-bottom: 200px;
}

body {
    background-color: #0c1627;
    margin: 0;
    padding: 0;
}

.page-container {
    padding-bottom: 50px;
}