

body {
  background-color: rgba(245, 239, 239, 0.774);
  font-family: Helvetica, sans-serif;
  text-align: center;
}

#navbutton {
  width: 60%;
  background-color: #ca0001;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 10px;
 
  font-size: 80px;
  border-width: 2px;
  border-style: solid;
  border-color: #ca0001;
  border-radius: 10px;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 3px 3px 5px #000000;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 70%;
  margin: auto;
  padding: 25px;
  border-radius: 8px;
}
#home2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 70%;
  margin: auto;
  padding: 25px;
  border-radius: 8px;
}


#title {
  font-size: 50px;
  color: #ca0001;
  text-shadow: 1px 1px 2px #000000;
}

#description {
  font-size: 20px;
}